name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.3.0

    - name: Install PM2
      run: npm install pm2 -g

    - name: Connect to Tailscale
      uses: tailscale/github-action@v4
      with:
        authkey: ${{ secrets.TS_AUTHKEY }}

    - name: Deploy to RP5
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        command_timeout: 10m
        script: |
          cd /home/randan/projects/light-tg-bot
          git pull origin master
          export NVM_DIR=~/.nvm
          source ~/.nvm/nvm.sh
          npm install
          npm run build
          pm2 delete light-tg-bot 2>/dev/null || true
          pm2 start npm --name "light-tg-bot" -- start
          pm2 save
